node_modules/
dist/
.parcel-cache/
18-forkify/starter/.parcel-cache/data.mdb
18-forkify/starter/.parcel-cache/7f973df67467291d-AssetGraph-0
18-forkify/starter/.parcel-cache/6054c31dbe703fb9-BundleGraph-0
18-forkify/starter/.parcel-cache/a8a28560cabca33b-AssetGraph-0
18-forkify/starter/.parcel-cache/requestGraph-8b272c8491111040-0
18-forkify/starter/.parcel-cache/snapshot-8b272c8491111040.txt
18-forkify/starter/.parcel-cache/requestGraph-nodes-0-8b272c8491111040-0
